.postInteractions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.interactionsIcons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.postInteractions button {
    background-color: red;
    color: white;
    border-radius: 24px;
    border: none;
    padding: 12px;
    font-weight: 500;
    cursor: pointer;
}